

		   body{
		   	    background-color: #f1f1f1;
		   	    position: relative;
		   }
           body .header{
                 width:100%;
                 height:80px;
                 background-color: #f1f1f1; 
           }
           body .title1{
           	     width:100%;
           	     height:20px;
                 position:relative;
           }
           body .hrfont{
           	     position: absolute;
           	     left:1054px;
           	     top:-13px;
           	     font-size: 5px;
           	     font-family: "Microsoft Yahei";
           	     
           }
            body .hlfont{
           	     position: absolute;
           	     left:150px;
           	     top:-13px;
           	     font-size: 5px;
           	     font-family: "Microsoft Yahei";
           }
           body .title2{
           	     width:100%;
           	     height:55px;
           	     background-color: #ffffff;
           	     position:relative;
           }
           body .leifeng{
                 position:absolute;
                 left:148px;
                 top:2px;
           }
           body .gongsi{
           	     position:absolute;
           	     left:72px;
           	     top:4.5px;
           	     width:400px;
           }
           body .leifengkeji{
           	     position: absolute;
           	     left:158px;
           	     top:6px;
           	     font-size: 20px;
           	     font-family: "Microsoft Yahei";
           }
           body .zhongbao{
           	     position: absolute;
           	     left:158px;
           	     top:32px;
           	     font-size: 5px;
           	     font-family: "Microsoft Yahei";
           }
           body .renwudating{
           	     position:absolute;
           	     left:786px;
           	     width:100px;
           	     height:60px; 

           }
           body .renwufont{
           	     text-decoration: none;
           	     color:black;
           	      font-family: "Microsoft Yahei";
           	     height:55px;
           	     vertical-align: center;
           	     position:absolute;
           	     width:100px;

           }
          /* body a :hover {
                 background-color: #f32f2f;
           	     color:white;
           }*/
           body .renwufont .renwu{
                 vertical-align: center;
           	     text-align:center;
           	    
           }
           body .xinxizhongxin{
           	     position:absolute;
           	     left:886px;
           	     width:100px;
           	     height:60px;           	              	    
           }
           body .xinxifont{
           	     text-decoration: none;
           	     color:black;
           	     font-family: "Microsoft Yahei";
           	     height:55px;
           	     vertical-align: center;
           	     position:absolute;
           	     width:100px;
           }
           /*body a :hover {
           	     background-color: #f32f2f;
           	     color:white;
           }*/
           body .xinxifont .xinxi{
           	     vertical-align: center;
           	     text-align:center;
           	      
           }
             body .wodeshouye{
           	     position:absolute;
           	     left:986px;
           	     width:100px;
           	     height:60px;           	              	    
           }
           body .shouyefont{
           	     text-decoration: none;
           	     color:black;
           	     font-family: "Microsoft Yahei";
           	     height:55px;
           	     vertical-align: center;
           	     position:absolute;
           	     width:100px;
           	     

           }
          /* body a :hover {
           	     background-color: #f32f2f;
           	     color:white;
           }*/
           body .shouyefont .shouye{
           	     vertical-align: center;
           	     text-align:center;
           	     
           }
           body .faburenwu{
           	     position:absolute;
           	     left:1086px;
           	     width:100px;
           	     height:60px;          	            	    
           }
           body .faburenwufont{
           	     text-decoration: none;
           	     color:black;
           	     font-family: "Microsoft Yahei";
           	     height:55px;
           	     vertical-align: center;
           	     position: absolute;
           	     width:100px;
           }
           /*body a :hover {
            	 background-color: #f32f2f;
            	 color:white;
           }*/
           body .faburenwufont .fabu{
            	 vertical-align: center;
            	 text-align:center;
            	 position:absolute£»
            	 
           }
           body .xialaliebiao{
           	position: absolute;
           	/*left:1185px;*/
           	top:55px;
           	left:1087px;
           	
           	display: none;
           	
           	
           	z-index: 2;
           }
           body .xialaliebiao .table3{
            text-align: left;
            display: inline-block;
            border:1px solid #f1f1f1;
            width:97px;
            border-collapse: collapse;
           }
           body .xialaliebiao  .table3 td{
           	height:35px;
           	border-bottom:1px solid #f1f1f1;
           	background-color: white;
           	width:97px;
           	text-align: center;
           	font-family: "Microsoft Yahei";
           }




           body .xialaliebiao1{
           	position: absolute;
           	/*left:1185px;*/
           	top:55px;
           	left:986px;
           	
           	display: none;
           	
           	
           	z-index: 2;
           }
           body .xialaliebiao1 .table4{
            text-align: left;
            display: inline-block;
            border:1px solid #f1f1f1;
            width:97px;
            border-collapse: collapse;
           }
           body .xialaliebiao1  .table4 td{
           	height:35px;
           	border-bottom:1px solid #f1f1f1;
           	background-color: white;
           	width:97px;
           	text-align: center;
           	font-family: "Microsoft Yahei";
           }


           body .body .bodycontent{
            	 width:1026px;
            	 height:680px;
            	 background-color: #ffffff;
            	 position:absolute;
             	 top:82px;
           	   left:157px;
               border:1px solid #dddddd;
               box-shadow: 0.5px 0.5px 0.5px 0.5px #cccccc;
               
           }
           body .body .bodycontent .contentimg{
           	     position:absolute;
             	 top:795px;
           }
           body .footer .footcontent{
              	 width:100%;
           	     height:270px;
           	     background-color: #484b54;
           	     position: absolute;
           	     top:780px;
           }
           body .footer .footcontent .diyilie{
           	     width:200px;
           	     height:200px;
                 position: absolute;
                 top:38px;
                 left:140px;
           }
            body .footer .footcontent .diyilie .tel,.num,.shangwu,.gongzuoshijian,.mail{
            	 color:#ffffff;
            	 font-family: "Microsoft Yahei";
            } 
             body .footer .footcontent .diyilie .num{
             	 font-size: 25px;
             }
              body .footer .footcontent .diyilie .tel{
              	 position: absolute;
              	 top:65px;
              	 font-size: 14px;
              }
              body .footer .footcontent .diyilie .num{
              	 position: absolute;
              	 top:90px;
              	 font-size: 14px;
              }
              body .footer .footcontent .diyilie .shangwu{
              	 position: absolute;
              	 top:125px;
              	 font-size: 14px;
              } 
              body .footer .footcontent .diyilie .gongzuoshijian{
              	 position: absolute;
              	 top:153px;
              	 font-size: 14px;
              }
              body .footer .footcontent .diyilie .mail{
              	 position: absolute;
              	 top:180px;
              	 font-size: 14px;
              }
              body .footer .footcontent .dierlie{
           	     width:200px;
           	     height:200px;
                 position: absolute;
                 top:38px;
                 left:370px;
           }
            body .footer .footcontent .dierlie .guidingtiaokuan,.renzheng,.chufa{
              	 color:#ffffff;
              	 font-family: "Microsoft Yahei"
              }
            body .footer .footcontent .dierlie .guidingtiaokuan{
                 font-weight: bold;
              	 font-size: 16px;
              }
            body .footer .footcontent .dierlie .renzheng{
              	 position: absolute;
              	 top:28px;
              	 font-size: 14px;
              }
            body .footer .footcontent .dierlie .chufa{
            	 position: absolute;
              	 top:55px;
              	 font-size: 14px;
            }
            body .footer .footcontent .disanlie{
           	     width:200px;
            	 height:200px;
                 position: absolute;
                 top:38px;
                 left:575px;
           }
           body .footer .footcontent .disanlie .xinshouzhidao,.zanzhu,.jieda{
               	 color:#ffffff;
                 font-family: "Microsoft Yahei";
           }
           body .footer .footcontent .disanlie .xinshouzhidao{
           	     font-weight: bold;
           	     font-size: 16px;
           }
           body .footer .footcontent .disanlie .zanzhu{
              	 position: absolute;
              	 top:28px;
              	 font-size: 14px;
              }
           body .footer .footcontent .disanlie .jieda{
              	 position: absolute;
              	 top:55px;
              	 font-size: 14px;
              }
           body .footer .footcontent .disilie{
           	     width:200px;
           	     height:200px;
                 position: absolute;
                 top:38px;
                 left:760px;
           }
            body .footer .footcontent .disilie .leifengfuwu,.leifengbao,.leifengxueyuan,.dingzhi{
           	     color:#ffffff;
                 font-family: "Microsoft Yahei";
           }
            body .footer .footcontent .disilie .leifengfuwu{
                 font-weight: bold;
                 font-size: 16px;
            }
             body .footer .footcontent .disilie .leifengbao{
              	 position: absolute;
              	 top:28px;
              	 font-size: 14px;
              }
           body .footer .footcontent .disilie .leifengxueyuan{
              	 position: absolute;
              	 top:55px;
              	 font-size: 14px;
              }
            body .footer .footcontent .disilie .dingzhi{
              	 position: absolute;
              	 top:82px;
              	 font-size: 14px;
              }  
              body .footer .footcontent .diwulie{
           	 width:200px;
           	 height:200px;
             position: absolute;
             top:38px;
             left:900px;
           }
            body .footer .footcontent .diwulie .guanyu,.jieshao,.lianxiwomen,.gonggao,.yinsitiaokuan,.ditu{
           	 color:#ffffff;
           	 font-family: "Microsoft Yahei";
           }
            body .footer .footcontent .diwulie .guanyu{
             font-weight: bold;
             font-size: 16px;
            }
            body .footer .footcontent .diwulie .jieshao{
             position: absolute;
             top:28px;
             font-size: 14px;
              }
           body .footer .footcontent .diwulie .lianxiwomen{
             position: absolute;
             top:55px;
             font-size: 14px;
              }
            body .footer .footcontent .diwulie .gonggao{
             position: absolute;
             top:82px;
             font-size: 14px;
              }  
              body .footer .footcontent .diwulie .yinsitiaokuan{
             position: absolute;
             top:109px;
             font-size: 14px;
              }
            body .footer .footcontent .diwulie .ditu{
             position: absolute;
             top:136px;
             font-size: 14px;
              }  
               body .footer .footcontent .diliulie{
           	 width:200px;
             height:200px;
             position: absolute;
             top:38px;
             left:1050px;
              }
           body .footer .footcontent .diliulie .dingyue,.hailiangzanzhu{
           	 color:#ffffff;
           	 font-family: "Microsoft Yahei";
              }
            body .footer .footcontent .diliulie .dingyue{
             font-weight: bold;
             font-size: 16px;
              }
             body .footer .footcontent .diliulie .erweima{
             position: absolute;
             top:25px;
             font-size: 14px;
              }
           body .footer .footcontent .diliulie .hailiangzanzhu{
             position: absolute;
             top:183px;
             font-size: 14px;
              }
           body .footer .footend{
             width:100%;
           	 height:40px;
           	 background-color: #3b3d45;
           	 position: absolute;
           	 top:1040px;
              }
           body .footer .footend .footendcontent{
             position: absolute;
             top:13px;
             left: 35%;
             color:#ffffff;
             font-size: 12px;
             font-family: "Microsoft Yahei";
             }  


          body .body .guanfang{
            position: absolute;
            width:1026px;
            background-color: #f3e843;
            height:25px;
            font-family: "Microsoft Yahei";
            font-size:16px;
            color:white;
            text-align:center;
            top:200px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
          }
          body .body .changjianwenti{
            font-size:15px;
            color:#c8c6c6;
            position: absolute;
            top:550px;
            left:0px;
          }
          body .body .zhuangtai{
            width:100px;
            height:250px;
            background-color: #fe0000;
          }
          body .body .kdrw{
            width:926px;
            height:228px;
            background-color: yellow;
            position: absolute;
            left:100px;
            top:225px;
          }



          body .body .shoulan{
            width:1026px;
            height:70px;
            background-color: #f6f6f6;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            border-bottom:1px solid #f5efef;
            box-shadow: 0px 0.1px 0px 0px #f5efef;
            border-right:1px solid #f5efef;
            box-shadow: 0px 0.1px 0px 0px #f5efef;
          }
          body .body .shoulan .shoulanimg{
            position: absolute;
            left:70px;
            top:205px;
          }
          body .body .shoulan .kuaididanhao{
            position: absolute;
            left:140px;
            top:210px;
            font-family: "Microsoft Yahei";
            font-size: 15px;
            color:#777474;
          }
          body .body .shoulan .shoucangimg{
            position: absolute;
            top:215px;
            left:840px;
            font-family: "Microsoft Yahei";
            font-size:15px;
          }
          body .body .shoulan .shoucangimg .shoucangs{
            position: absolute;
            top:1px;
            width:30px;
            color:#777474;
          }
           body .body .shoulan .tousuimg{
            position: absolute;
            top:215px;
            left:920px;
            font-family: "Microsoft Yahei";
            font-size:15px;
          }
          body .body .shoulan .tousuimg .tousus{
            position: absolute;
            top:1px;
            width:30px;
            color:#777474;
          }
          body .body .zuo{
            width:500px;
            height:405px;
            background-color:#f6f6f6; 
          }
          body .body .you{
            width:525px;
            height:405px;
            background-color: white;
            position:absolute;
            top:275px;
            left:500px;
          }
          body .body .you .peisong{
            position: absolute;
            top:20px;
            left:35px;
          }
          body .body .you .peisong .peisongxinxi{
            font-family: "Microsoft Yahei";
            font-size: 15px;
            font-weight: bold;

          }
          body .body .you .lianxi{
            font-family: "Microsoft Yahei";
            font-size:15px;
            position: absolute;
            top:55px;
            left:35px;
          }
          body .body .you .lianxi .table tr,.table th{
            height:35px;
            width:480px;
          }
          body .body .you .lianxi  .diyikuai{
            border-bottom:1px dashed #cccccc;
            width:450px;height:0px;
            position: absolute;
            top:68px;
          }
          body .body .you .lianxi  .dierkuai{
            position: absolute;
            border-bottom:1px dashed #cccccc;
            width:450px;
            height:0px;
            top:180px;
          }
          body .body .you .lianxi  .disankuai{
            position: absolute;
            border-bottom:1px dashed #cccccc;
            width:450px;
            height:0px;
            top:288px;
          }
          body .body .you .lianxi .table .tr1{
            position: absolute;
            top:0px;
          }
          body .body .you .lianxi .table .tr2{
            position: absolute;
            top:30px;
          }
          body .body .you .lianxi .table .tr3{
            position: absolute;
            top:80px;
          }
          body .body .you .lianxi .table .tr4{
            position: absolute;
            top:110px;
          }
          body .body .you .lianxi .table .tr5{
            position: absolute;
            top:140px;
          }
          body .body .you .lianxi .table .tr6{
            position: absolute;
            top:190px;
          }
          body .body .you .lianxi .table .tr7{
            position: absolute;
            top:220px;
          }
          body .body .you .lianxi .table .tr8{
            position: absolute;
            top:250px;
          }
          body .body .you .lianxi .table .tr9{
            position: absolute;
            top:300px;
          }
          body .body .bolang{
            position: absolute;
            top:675px;
            

          }
          body .body .zuo .kuaidim{
            position: absolute;
            top:245px;
            left:0px;
          }





		
	
